.cards-pk{
    display: flex;
    flex-wrap: wrap;
  }
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;

  }
  
  .card_box {
    top:50px;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    background-image: url(img/BG.png);
    background-size: cover;
    position: relative;
    box-shadow: 0 25px 50px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: all .3s;
  }
  .premium-box{
    width: 400px;
    height: 550px;
  }
  .card_box:hover {
    transform: scale(0.9);
  }
  
  .card_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-head{
    position: absolute;
    width: 98px;
    height: 150px;
    left: 55%;
    align-items: center;
    justify-content: center;
  }
  
  .card-head::before{
    font-size: small;
    position: absolute;
    width: 150%;
    border-radius: 5px;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%,#ffb144  51%, #ff7053  100%);
    transform: translateY(-10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  }
  .basic::before{
    content: 'Basic pack';  
  }
  .standard::before{
    content: 'Standard pack';
  }
  .premium::before{
    left: 55%;
    content: 'Premium pack';
  }
  

  .card_box span::before {
    content: 'Starter pack';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  }
  
  .card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  }